.headerClass {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 10px;
}    
    
#titulo{
    color:white;
    margin-left:10px;    
}
footer {
    background-color: gray;
    color: white;
    text-align: center;
}
h3 {
    text-align: center;
}
.ingresos {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: beige;
}